<div class="footer">

    <div class="footer-icons">

<!-- <a href=""><i class="fa-brands fa-linkedin"></i></a>
<a href=""><i class="fa-brands fa-instagram"></i></a>
<a href=""><i class="fa-brands fa-facebook"></i></a> -->

    </div>
    <div class="footer-links">
    <a href="#">TravelNest Private Limited</a>
    <a href="#">Privacy Terms</a>

    </div>
</div>